*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

.headerIMG{
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
}

nav.header{
    background: #FFB8FF;
    height: 80px;
    width: 100%;
}

nav.footer{
    background: #FFB8FF;
    height: 20px;
    width: 100%;
}

label.logo{
    color: #6DBFBF;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    padding-bottom: 20px;
    font-weight: bold;
}

label.bh {
    color: #B8B8B8;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #C4B437;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background-color: #6DBFBF;
    transition: .5s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #56F2F5;
        top: 80px;
        left: 0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active, a:hover{
        background: none;
        color: #646047;
    }
    label.logo{
        text-align: center;
    }
}

section{
    background: url(homeBackGround.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px - 20px);
}